@{
    ViewBag.Title = "Instituto Alfa - Alumnos";    
}

<div class="row">
    <div class="col-md-12" id="container">
        <h1>Alumnos</h1>
        <hr />
        @Html.Partial("_Flash")
        <table width="100%" id="alumnos" style="display:none">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Nacimiento</th>
                    <th>Género</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Alumno in ViewBag.Alumnos)
                {
                    <tr>
                        <td>@Alumno.id</td>
                        <td>@Alumno.rut</td>
                        <td>@Alumno.nombre</td>
                        <td>@Alumno.nacimiento.ToShortDateString()</td>
                        <td>@Alumno.genero</td>
                        <td>
                            <a href="@Url.Action("ViewAlumno", "Alumno", new { id_alumno = @Alumno.id })">editar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <a class="btn btn-primary" role="button" href="@Url.Action("NewAlumno", "Alumno")" style="float:right">Nuevo</a>
    </div>
</div>
