@{
    ViewBag.Title = "Instituto Alfa - Alumno";
}

    <div class="row">
        <div class="col-md-12">
            <h1>Editar alumno</h1>            
            <hr />
        </div>        
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="col-sm-2 control-label">Rut:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="exampleInputEmail1" value="@ViewBag.Alumno.rut">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="exampleInputPassword1" value="@ViewBag.Alumno.nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="col-sm-2 control-label">Nacimiento:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="exampleInputPassword1" value="@ViewBag.Nacimiento">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="col-sm-2 control-label">Género:</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option value="0">Seleccionar...</option>
                            <option value="M" @(ViewBag.Alumno.genero == "M" ? "selected" : "")>M</option>
                            <option value="F" @(ViewBag.Alumno.genero == "F" ? "selected" : "")>F</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="col-sm-2 control-label">Cursos:</label>
                    <div class="col-sm-10">
                        <table width="100%" id="matriculas">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Año</th>
                                    <th>Semestre</th>
                                    <th>Código</th>
                                    <th>Asignatura</th>
                                    <th>Nota</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Matricula in ViewBag.Alumno.matriculas)
                                {
                                    <tr>
                                        <td>@Matricula.id</td>
                                        <td>@Matricula.curso.anyo.anyo</td>
                                        <td>@Matricula.curso.bimestre.nombre</td>
                                        <td>@Matricula.codigo</td>
                                        <td>@Matricula.curso.asignatura.nombre</td>
                                        <td>@Matricula.nota</td>
                                        <td>
                                            <a href="#">ver</a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a class="btn btn-info" role="button" href="@Url.Action("Index", "Alumno")">Tomar Curso</a>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a class="btn btn-default" role="button" href="@Url.Action("Index", "Alumno")">Volver</a>
                    </div>
                </div>
            </form>            
        </div>        
    </div>    
