@{
    ViewBag.Title = "Home Page";
}

    <div class="row">        
        <div class="col-md-3">
            <h2>Curso</h2>
            <hr />            
            <form class="form-inline">
                <div class="form-group">
                    <label style="color:#ababab">Código:</label>
                    <label class="form-label">@ViewBag.Curso.codigo</label>
                </div>
                <br />
                <div class="form-group">
                    <label style="color:#ababab">Estado:</label>
                    <label class="form-label">@ViewBag.Curso.estado</label>
                </div>
                <br />
                <div class="form-group">
                    <label style="color:#ababab">Asignatura:</label>
                    <label class="form-label">@ViewBag.Curso.asignatura.nombre (@ViewBag.Curso.asignatura.codigo)</label>
                </div>
                <br />
                <div class="form-group">
                    <label style="color:#ababab">Profesor:</label>
                    <label class="form-label">@ViewBag.Curso.profesor.nombre (@ViewBag.Curso.profesor.rut)</label>
                </div>
                <br />
                <div class="form-group">
                    <label style="color:#ababab">Sala:</label>
                    <label class="form-label">@ViewBag.Curso.sala.codigo</label>
                </div>
                <br />
                <br />
                <a role="button" class="btn btn-info" href="javascript:void(0);" onclick="history.go(-1);">Volver</a>
            </form>
        </div>
        <div class="col-md-9">
            <h2>Alumnos</h2>
            <hr />
            <table width="100%" id="alumnos">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Nacimiento</th>
                        <th>Género</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Matricula in ViewBag.Curso.matriculas)
                    {
                        <tr>
                            <td>@Matricula.id</td>
                            <td>@Matricula.alumno.rut</td>
                            <td>@Matricula.alumno.nombre</td>
                            <td>@Matricula.alumno.nacimiento</td>
                            <td>@Matricula.alumno.genero</td>
                            <td>@(Matricula.nota==0?'-':Matricula.nota)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
